<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Survey Form</title>
</head>
<body>
    <h2>Survey Form</h2>
    <form action='/info' method= 'post'>
        {% csrf_token %}
        Name:<input type='text' name='name'><br>
        Dojo Location: <select name='location'>
            <option value='Seattle'>Seattle</option>
            <option value='Dallas'>Dallas</option>
            <option value='Tulsa'>Tulsa</option>
            <option value='Silicon Valley'>Silicon Valley</option>
            <option value='San Jose'>San Jose</option>
        </select><br>
        Favorite Language: <select name='language'>
            <option value='python'>Python</option>
            <option value='javascript'>JavaScript</option>
            <option value='mysql'>My SQL</option>
            <option value='Flask'>Flask</option>
            <option value='MEAN'>Mean</option>
        </select><br>
        Comments:<br>
        <textarea name='comment' rows= '5' cols='35'></textarea><br>

        <input type='submit' value='Submit'>
    </form>
</body>
</html>