#time{
    width: 40%;
    margin: auto;
    text-align: center;
}
#time h2{
    border: 2px black solid;
    color: red;
    padding: 0px 0px 25px 0px;
}
#display{
    width: 40%;
    margin: auto;
    text-align: center;
    border: 2px black solid;
    padding: 0px 180px 0px 180px;
}