*{
    margin:0px;
    padding:0;
    border:0;
}
.background{
    height:500px;
    width: 970px;
    background-color: midnightblue;
}
.background h1{
    color:gold;
}
.background p{
    color:gold;
}
.places{
    height:200px;
    width:200px;
    background-color: darkred;
    display:inline-block;
    margin:60px 10px 10px 25px;
}
.places h2{
    color: gold;
    margin-left:60px;
}
.places p{
    color:gold;
    margin-left:40px;
}
.places input{
    margin: 85px 10px 10px 40px;
    padding: 10px 30px 10px 30px;
    background-color: gold;
    color:darkred;
    font-weight: bold;
}
#activities{
    margin-left:20px;
}